<div id="page" class="home js-home">
	<div class="home-form">
		<div class="location js-location">
			<input type="text" class="js-where" value="{{location}}" placeholder="{{_t 'where to go'}}?" autocomlete="off" />
			<div class="loader js-loader"></div>
		</div>
		<div class="js-drop home-drop"></div>
	</div>

	<div class="js-list list"></div>
	<div class="js-map map"></div>
</div>