<div id="page" class="go">
	<div class="map-image" style="background-image: url(//maps.googleapis.com/maps/api/staticmap?center={{latitude}},{{longitude}}&zoom=12&size=500x500&scale=2&maptype=hybrid&key=AIzaSyA264GCUaGdBJjKufbwpWT4W-QcEPX_bAM)">
	</div>

	<div class="go-wrap">

		<div class="go-form">
			<div class="picker js-picker"></div>
			<div class="countdown js-countdown"></div>
		</div>
		<div class="wiki js-wiki"></div>
		<div class="flickr js-flickr"></div>
		<div class="panoramio js-panoramio"></div>
	</div>
</div>