<ul class="thumb {{locations.animated}}">
	{{#locations}}
		<li class="{{single}}">
			<a href="{{ibt.app}}go/{{location_id}}/{{name}},{{country_long}}" class="bottom js-page">{{name}}, {{country_long}} ({{region}})</a>
		</li>
	{{/locations}}
</ul>