<div id="recover" class="page recover">
	<div class="form">
		<h3>Tell us your email<br />We'll send you a link where you can reset your password</h3>
		<input type="text" autocomplete="off" value="" placeholder="Email" class="" />
		<a href="#" class="btn fr mt10">Recover</a> <a href="{{ibt.app}}/signin/" class="js-page fr mt10 mr10">Sign In</a>
	</div>
</div>